.containner-carousel {
  align-items: center;
  display: flex;
  justify-content: center;
}

.display-none {
  display: none;
}

.visible {
  display: block;
}

.img-card {
  height: 400px;
  width: 400px;
}

.containner-carousel > button {
  height: 200px;
  margin: 10px;
}
