.containner-Login {
  align-items: center;
  display: flex;
  height: 500px;
  justify-content: center;
}

.containner-card {
  display: flex;
  flex-direction: column;
}


.containner-card > input {
  height: 40px;
  margin-bottom: 40px;
  padding-left: 15px;
  width: 240px;
}

.containner-card > button {
  height: 40px;
  width: 263px;
}
